:root {
    /* Declare global variables */
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --grey2: #D9D9D9;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box; /* Ease element sizing handling. See: https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing */ 
    max-width: 1400px;
    margin: auto;

    /* Make footer stick at the bottom of web page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul.reset {
    padding: 0;
    list-style-type: none;
}

main {
    flex-grow: 1;
}

main h2 {
    font-size: 22px;
    margin: 0px;
}

main h3 {
    font-size: 16px;
}

main p {
    font-size: 14px;
}

.blue-icon {
    color: var(--blue);
}

.grey-icon {
    color: var(--grey);
}

/**********************
CSS Header Section 
**********************/
#main-header {
    padding: 0px 5px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#booki-logo-navbar img{
    height: 29px;
}

#navbar-links-container {
    display: flex;
    margin: 48px 0px;
}

.navbar-link {
    color: unset;
    text-decoration: unset;
    font-size: 16px;
    padding: 46px 33px;
}

.navbar-link:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

h1 {
    font-size: 22px;
}

#title-description-text {
    margin: 8px 0px;
    font-size: 16px;
}

/**********************
CSS Filters Section 
**********************/
#filters-section {
    margin: 0px 5px 37px;
}

#searchbox-container {
    margin-top: 20px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

#location-searchbox-label {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-searchbox-text-input {
    border: unset;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    font-family: inherit;
    font-size: 18px;
    font-style: inherit;
    font-weight: bold;
    height: 49px;
    padding: 0px 16px;
}

#location-searchbox-submit-button {
    background-color: var(--blue);
    color: white;
    border: unset;
    border-radius: 0px 15px 15px 0px;
    font-family: inherit;
    font-size: 18px;
    font-style: inherit;
    font-weight: bold;
    height: 51px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

#location-searchbox-submit-button-icon {
    display: none; 
}

#filters-container {
    display: flex;
    align-items: center;
}

#filters-title {
    font-size: 18px;
    margin-right: 32px;
}

#filters-list {
    display: flex;
    gap: 40px;
}

.filter-button {
    background-color: transparent;
    border: 2px solid var(--grey2);
    border-radius: 25px;
    font-family: inherit;
    font-size: 17px;
    font-style: inherit;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--light-blue);
}

.filter-text {
    padding-left: 10px;
}

#filters-result-info-container {
    display: flex;
    align-items: center;
}

#filters-result-info-container p {
    font-size: 16px;
}

#filters-result-info-container i {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
}

/**********************
CSS Homes Section 
**********************/
#homes-section-container, #experiences-section {
    margin-bottom: 60px;
}

.euro-symbol {
    font-weight: 600;
}

#homes-section-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

#homes-section-container .fa-star {
    font-size: 12px;
}

#homes-section, #popular-homes-section {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 40px;
}

#homes-section {
    display: flex;
    flex-direction: column;
}

#homes-listing {
    margin: 23px 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.home-card {
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.home-card .card-image {
    height: 124px;
    width: 100%;
    object-fit: cover;
}

.home-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 16px 6px;
}

#load-more-homes-button-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

#load-more-homes-button {
    background-color: transparent;
    border: unset;
    font-family: inherit;
    font-size: 18px;
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
    padding: 0;
    cursor: pointer;
}

#popular-homes-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popular-homes-listing {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.popular-home-card {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.popular-home-card .card-image {
    width: 137px;
    height: 144px;
    object-fit: cover;
}

.popular-home-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 22px 7px 15px;
}

#homes-section-container h3{
    margin: 0px;
}

#homes-section-container p {
    margin: 8px 0px;
}

/**********************
CSS Experiences Section 
**********************/
#experiences-listing {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 43px;
}

.experience-card {
    flex: 1;
    height: 445px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    position: relative;
}

.experience-card .card-image {
    height: calc(100% - 20px); /* Trick to avoid sight of clipped image at bottom corners in chrome */
    width: 100%;
    object-fit: cover;
}

.card-title-container {
    width: 100%;
    height: 56px;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 0px 19px;
    display: flex;
    align-items: center;
}

/*********
CSS Footer 
*********/
footer {
    background-color: var(--grey);
    display: flex;
    padding: 45px 70px;
    gap: 30px;
}

.footer-section {
    flex-basis: 100%; /* Footer sections have same width */
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-link {
    color: unset;
    text-decoration: unset;
    font-size: 16px;
}

/** Tablet Screen **/
@media screen and (max-width: 1024px) {
    body {
        max-width: 880px;
    }
    /**********************
    CSS Filters Section 
    **********************/
    #filters-title {
        margin-right: 17px;
    }

    #filters-list {
        gap: 22px;
    }

    /**********************
    CSS Homes Section 
    **********************/
    #homes-section-container {
        grid-template-columns: 1fr;
        gap: 53px;
    }

    #popular-homes-listing {
        margin: 26px 0px 8px;
        flex-direction: row;
        gap: 23px;
    }

    .popular-home-card .card-image {
        width: 106px;
        height: 144px;
    }

    .popular-home-info-container {
        margin: 10px 12px 4px 10px;
    }

    /**********************
    CSS Experiences Section 
    **********************/
    #experiences-listing {
        margin-top: 34px;
        gap: 50px;
    }

    .experience-card {
        height: 267px;
    }
}

/** Mobile Screen **/
@media screen and (max-width: 992px) {

}