:root {
    /* Declare global variables */
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box; /* Ease element sizing handling. See: https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing */ 
    max-width: 1400px;
    margin: auto;

    /* Make footer stick at the bottom of web page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul.reset {
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 22px;
}

main {
    flex-grow: 1;
}

main h2 {
    font-size: 22px;
}

main h3 {
    font-size: 16px;
}

.blue-icon {
    color: var(--blue);
}

#homes-section-container, #experiences-section {
    margin-bottom: 60px;
}

/**********************
CSS Homes Section 
**********************/
#homes-section-container {
    display: flex;
    justify-content: space-between;
}

#homes-section, #popular-homes-section {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 40px;

    width: 400px; /* TEMP */
}

#load-more-homes-button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: 18px;
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
    padding: 0;
    cursor: pointer;
}

#popular-homes-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**********************
CSS Experiences Section 
**********************/
#experiences-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.experience-card {
    width: 300px;
    height: 445px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.experience-card .card-image {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.card-title-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.experience-card .card-title {
    padding-left: 20px;
}

/*********
CSS Footer 
*********/
footer {
    background-color: var(--grey);
    display: flex;
}

.footer-section {
    flex-basis: 100%; /* Footer sections have same width */
    padding: 40px 80px;
}

.footer-section h2 {
    font-size: 18px;
}

.footer-link {
    color: unset;
    text-decoration: unset;
    line-height: 1.8em;
}


